altgraph==0.17
aniso8601==9.0.1
appdirs==1.4.4
apt-clone==0.2.1
apturl==0.5.2
astroid==2.4.2
attrs==20.3.0
Automat==0.8.0
autopep8==1.5.6
beautifulsoup4==4.8.2
blinker==1.4
Brlapi==0.7.0
cachelib==0.1.1
cachetools==4.0.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.3
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
cryptography==2.8
cupshelpers==1.0
dbus-python==1.2.16
defer==1.0.6
deluge==2.0.3
distlib==0.3.1
distro==1.4.0
docopt==0.6.2
entrypoints==0.3
fasteners==0.14.1
filelock==3.0.12
Flask==1.1.2
flask-marshmallow==0.14.0
flask-restplus==0.13.0
Flask-Session==0.3.2
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
gcalendar==0.4
GeoIP==1.3.2
google-api-python-client==1.7.11
google-auth==1.5.1
google-auth-httplib2==0.0.3
greenlet==1.0.0
grpcio==1.16.1
html5lib==1.0.1
httplib2==0.14.0
hyperlink==19.0.0
idna==2.10
ifaddr==0.1.6
IMDbPY==6.8
incremental==16.10.1
isort==5.5.3
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==3.2.0
kazam==1.4.5
keyring==18.0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-object-proxy==1.4.3
louis==3.12.0
lxml==4.5.0
macaroonbakery==1.3.1
Mako==1.1.0
MarkupSafe==1.1.1
marshmallow==3.11.1
marshmallow-sqlalchemy==0.24.2
mccabe==0.6.1
monotonic==1.5
multipledispatch==0.6.0
nemo-emblems==4.8.1
netaddr==0.7.19
netifaces==0.10.4
nose==1.3.7
numpy==1.17.4
oauth2client==4.1.2
oauthlib==3.1.0
onboard==1.4.1
opencv-python==4.4.0.44
packaging==20.3
PAM==0.4.2
pexpect==4.6.0
Pillow==7.0.0
protobuf==3.6.1
protonvpn-cli==2.2.4
psutil==5.5.1
psycopg2-binary==2.8.6
pyaes==1.6.1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.16.2
pycodestyle==2.7.0
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.2
pygame==1.9.6
pyglet==1.5.15
PyGObject==3.36.0
PyHamcrest==1.9.0
PyICU==2.4.2
pyinotify==0.9.6
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.10
PyJWT==1.7.1
pylint==2.6.0
pymacaroons==0.13.0
PyNaCl==1.3.0
PyOpenGL==3.1.5
pyOpenSSL==19.0.0
pyparsing==2.4.6
pyparted==3.11.2
pyRFC3339==1.1
pyrr==0.10.3
pyrsistent==0.17.3
python-apt==2.0.0+ubuntu0.20.4.5
python-dateutil==2.8.1
python-debian===0.1.36ubuntu1
python-decouple==3.4
python-libtorrent==1.1.13
python-xapp==2.0.2
python-xlib==0.23
pythondialog==3.5.1
pytz==2021.1
PyWavefront==1.3.3
pyxattr==0.6.1
pyxdg==0.26
PyYAML==5.3.1
rencode==1.0.6
reportlab==3.5.34
requests==2.25.1
requests-file==1.4.3
requests-unixsocket==0.2.0
rsa==4.0
SecretStorage==2.3.1
service-identity==18.1.0
setproctitle==1.1.10
simplejson==3.16.0
six==1.15.0
soupsieve==1.9.5
SQLAlchemy==1.4.6
systemd-python==234
Telethon==1.17.5
tinycss2==1.0.2
tk==0.1.0
tldextract==2.2.1
toml==0.10.2
Twisted==18.9.0
ubuntu-advantage-tools==27.2
ubuntu-drivers-common==0.0.0
ufw==0.36
Unidecode==1.1.1
uritemplate==0.6
urllib3==1.26.4
virtualenv==20.0.28
wadllib==1.3.3
webencodings==0.5.1
Werkzeug==0.16.1
wrapt==1.12.1
WTForms==2.3.3
xkit==0.0.0
youtube-dl==2021.4.26
zeroconf==0.24.4
zope.interface==4.7.1
