{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center mt-5">Welcome {{ g.user[1]|capitalize }} !</h1>
    <p class="text-center">Search for +5000 books with their reviews</p>
    <form action={{ url_for('app.home') }} method="POST" enctype="tex/plain">
        <div class="input-group my-5">
            <div class="form-outline">
                {{ searchForm.search(type="search",id="form1",class="form-control") }}
                <!-- <input type="search" id="form1" class="form-control" /> -->
                <label class="form-label" for="form1">Search</label>
            </div>
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </form>

    <div class="container">
        <div class="row">
            {% for book in book_list %}
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                <!--Card Narrower-->
                <div class="card card-cascade narrower" style="min-height: 400px;">
                    <!--Card image-->
                    <div class="view view-cascade overlay">
                        <img src={{book.image if book.image
                            else "https://mdbootstrap.com/img/new/standard/nature/184.jpg" }} style="max-height: 320px;"
                            class="card-img-top" alt="narrower">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <!--/.Card image-->
                    <!--Card content-->
                    <div class="card-body card-body-cascade">
                        <h5 class="pink-text"><i class="fas fa-book"></i> By {{book.author}}</h5>
                        <!--Title-->
                        <h4 class="card-title">{{book.title}} </h4>
                        <small>Publication Year: {{book.getPublicationYear()}}</small>
                        <!--Text-->
                        <p class="card-text">{{book.desc[:50]+"..." if book.desc else "No description"}}</p>

                    </div>
                    <!--/.Card content-->
                </div>
                <!--/.Card Narrower-->
                <a href={{book.getBookAmazonLink()}} target="_blank" class="btn btn-unique">Buy on
                    Amazon</a>
                <a class="btn btn-unique" href={{ url_for('app.bookDetail', bookId=book.id if book.id else book.isbn if
                    book.isbn else book.getBookAmazonLink() ) }}>Detail</a>
            </div>
            {% else %}
            <p class="text-center mt-5">No books found! </p>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock content %}