{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="text-center">
    <div class="mb-5">
        <h1>Welcome To My Book API Library</h1>
        <span>Get, Rate your favorite books!</span><br>
    </div>
    <a type="button" class="btn btn-primary" href="{{url_for('app.login')}}">Login</a><br>
    <small class="text-muted">Don't have an account? <a class="ml-2" href="{{url_for('app.register')}}">Register
            Here</a> </small>
</div>
{% endblock content %}