{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <small class="message container text-center" style="color: red;">
            {% with messages = get_flashed_messages(with_categories = True)%}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{category}}">
                {{message}}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </small>
        <h1 class="text-center mb-3">Login</h1>
        <div class="col-4">
            <form method="post" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <!-- Email input -->
                <div class="form-outline mb-4">
                    {{ form.email(type="email",id="form1Example1",class="form-control") }}
                    <label class="form-label" for="form1Example1">{{form.email.label}}</label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                    {{ form.password(type="password",id="form1Example2",class="form-control") }}
                    <label class="form-label" for="form1Example2">Password</label>
                </div>

                <!-- 2 column grid layout for inline styling -->
                <div class="row mb-4">
                    <div class="col d-flex justify-content-center">
                        <!-- Checkbox -->
                        <div class="form-check">
                            {{ form.remember_me }}
                            <label class="form-check-label" for="form1Example3">{{ form.remember_me.label }}</label>
                        </div>
                    </div>

                    <div class="col">
                        <!-- Simple link -->
                        <a href="#!">Forgot password?</a>
                    </div>
                </div>

                <!-- Submit button -->
                {{form.login_btn(type="submit",class="btn btn-primary btn-block")}}
            </form>
        </div>
    </div>
</div>
{% endblock %}