{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <small class="message container text-center">
            {% with messages = get_flashed_messages(with_categories = True)%}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{category}}">
                {{message}}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </small>
        <h1 class="text-center mb-3">Create Account</h1>
        <div class="col-4">
            <form method="post" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="form-outline mb-4">
                    {{ form.username(class="form-control", id="floatingInput") }}
                    <label class="form-label" for="form1Example1">{{form.username.label}}</label>
                </div>
                <div class="form-outline mb-4">
                    {{ form.email(class="form-control", id="floatingInput") }}
                    <label class="form-label" for="form1Example1">{{form.email.label}}</label>
                </div>
                <div class="form-outline mb-4">
                    {{form.password(class="form-control", id="floatingInput")}}
                    <label class="form-label" for="floatingPassword">{{form.password.label}}</label>
                </div>
                <div class="form-outline mb-4">
                    {{form.confirm_password(class="form-control", id="floatingInput")}}
                    <label class="form-label" for="floatingPassword">{{form.confirm_password.label}}</label>
                </div>
                {{form.register_btn(type="submit",class="btn btn-primary btn-block")}}
            </form>
        </div>
    </div>
</div>
{% endblock %}